.header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../images/background.png');
	max-width: 100%;
	background-size: cover;
	color: $color-light;
	height: 800px;
	position: relative;

	.header img {
		object-fit: cover;
		height: 600px;
	}

	ul {
		margin-top: 40px;
		list-style-type: none;
		flex-wrap: wrap;
	}

	li {
		margin-left: 10px;
		font-size: 20px;
		opacity: 0.5;
		margin-right: 25px;
	}

	a {
		text-decoration: none;
	}

	a:visited {
		color: $color-light;
	}
}
.header_title {
	color: $color-light;
	padding-top: 5x;
	padding-left: 20px;
}
.header_subtitle {
	margin-top: -100px;
	color: $color-main;
	font-size: 46px;
	font-weight: $font-black;
	letter-spacing: 8px;

	h1 {
		margin-right: 0;
		text-align: left;
		font-weight: $font-bold;
		margin-bottom: -10px;
	}

	h2 {
		font-size: 40px;
		position: relative;
		text-align: right;
		padding-right: 130px;
		font-weight: $font-semibold;
	}
}
.header_discover {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
	letter-spacing: 6px;
	font-size: 32px;
	z-index: 2;
}

.icon-arrow {
	font-size: 30px;
}
.header_subtitle::after {
	content: '';
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	width: 400px;
	height: 5px;
	background-color: $color-main;
}
