// .nav {
// 	background-color: #000;
// }

.navbar-wrap {
	background-image: url('../images/background.png');
	background-size: cover;
	height: 100vh;
}
.navigation {
	padding: 42px 10px 42px 10px;
}
.navigation ul {
	list-style-type: none;
	// align-items: center;
}

.navigation li {
	margin-left: 36px;
}

.navigation li li {
	width: 50px;
}

.navigation a {
	text-decoration: none;
	color: $color-light;
	height: 10px;
	font-weight: $font-regular;
}

.navigation ul ul {
	margin-left: 36px;
}

.page-subtitle::after {
	position: absolute;
	content: '';
	bottom: -24px;
	left: 50%;
	width: 200px;
	height: 5px;
	transform: translateX(-50%);
	background: $color-main;
}

.products {
	margin-top: 40px;
}
.page-title-products::after {
	position: absolute;
	content: '';
	bottom: -24px;
	left: 50%;
	width: 400px;
	height: 5px;
	transform: translateX(-50%);
	background: $color-main;
}
