.container {
	max-width: 1140px;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: $font-main;
}

.header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../images/background.png');
	background-size: cover;
	color: $color-light;
	height: 800px;
	position: relative;

	.header img {
		object-fit: cover;
		height: 600px;
	}

	ul {
		margin-top: 40px;
		list-style-type: none;
		flex-wrap: wrap;
	}

	li {
		margin-left: 10px;
		font-size: 20px;
		opacity: 0.5;
		margin-right: 25px;
	}

	a {
		text-decoration: none;
	}

	a:visited {
		color: $color-light;
	}
}

.nav_navigation_row {
	display: flex;
	flex-direction: row;
	color: $color-light;
}

.column {
	display: flex;
	flex: 0 50%;
}

.header_title {
	color: $color-light;
	padding-top: 5x;
	padding-left: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col-3 {
	flex: 0 0 33%;
	position: relative;
	flex-direction: column;
	position: relative;
	float: right;
}

.header_subtitle {
	color: $color-main;
	font-size: 46px;
	font-weight: $font-black;
	letter-spacing: 8px;

	h1:first-of-type {
		margin-right: 0;
		text-align: left;
		font-weight: $font-bold;
		margin-bottom: -10px;
	}

	h1:last-of-type {
		position: relative;
		text-align: right;
		margin-top: 0;
	}

	h1:last-of-type::after {
		position: absolute;
		content: '';
		bottom: -35px;
		left: 50%;
		width: 300px;
		height: 5px;
		transform: translateX(-50%);
		background: $color-main;
	}
}

.nav_brand {
	color: $color-light;
	font-weight: bold;
	margin-left: 30px;
	letter-spacing: 5px;
	margin-top: 50;

	h3 {
		font-size: 30px;
		font-weight: $font-bold;
		margin-bottom: 20px;
	}

	h4 {
		font-size: 16px;
		margin-top: -10px;
	}
}

.header_discover {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
	letter-spacing: 6px;
	font-size: 32px;
	z-index: 2;
}

.icon-arrow {
	font-size: 30px;
}

.section-title h2 {
	color: $color-main;
	text-align: center;
	letter-spacing: 8px;
	font-size: 40px;
	font-weight: $font-bold;
}
.section-title h2:after {
	position: absolute;
	content: '';
	bottom: -215px;
	left: 50%;
	width: 600px;
	height: 5px;
	transform: translateX(-50%);
	background: $color-main;
}
.container_products {
	margin: 25px 0;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: $font-main;
}
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-gap: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.products-description {
	.properties {
		font-size: 20px;
		font-weight: bold;
		margin-top: 50px;
		p {
			margin-bottom: -5px;
			font-size: 20px;
		}

		span {
			color: $color-main;
		}
	}
	.description {
		font-size: 16px;
		position: relative;
		padding-left: 130px;
		margin-bottom: 10px;
	}
	.description::after {
		position: absolute;
		content: '';
		top: 10px;
		left: 60px;
		width: 100px;
		height: 5px;
		transform: translateX(-50%);
		background: $color-main;
	}
}
.products-title {
	font-size: 30px;
	font-weight: $font-semibold;
}

.about-us {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../images/about-us.jpg');
	background-size: cover;
	color: $color-light;
	height: 800px;
	position: relative;
}

.about-us img {
	padding-top: 200px;
}
.carousel {
	height: 100vh;
}
.carousel-control-prev-icon {
	padding-top: 600px;
}
.about-us-title h2 {
	color: $color-main;
	text-align: center;
	letter-spacing: 8px;
	font-size: 40px;
	font-weight: $font-bold;
}
.about-us-title h2:after {
	position: absolute;
	content: '';
	bottom: 700px;
	left: 50%;
	width: 600px;
	height: 5px;
	transform: translateX(-50%);
	background: $color-main;
}

.carousel-item p {
	float: right;
	font-family: $font-main;
	font-size: 20px;
}
