h3 {
	color: $color-light;
}
.navigation p {
	color: $color-light;
}

h1 {
	color: $color-main;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 6;
	font-weight: $font-black;
	font-size: 50px;
}

.splash-inner a {
	color: $color-light;
}

.page-title-products {
	color: $color-main;
	text-align: center;
	font-weight: $font-bold;
	font-size: 40px;
}
